@import '../../assets/styles/mixins';

.newsletter {
    padding: 45px 0 39px;
    backdrop-filter: blur(10px);
    background-color: #2e0f53;
    &-inner {
        display: block;
        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }
    }
    .title {
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.46px;
        color: #f2f2f2;
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            margin-right: 50px;
        }
    }
    .input-field {
        flex: 1;
        position: relative;
        @include media-breakpoint-up(lg) {
            margin-right: 27px;
        }
        img {
            position: absolute;
            left: 18px;
            top: 13px;
            width: auto;
            height: 18px;
        }
        input {
            padding-left: 58px;
        }
    }
}
