@import '../../../assets/styles/mixins';

.title-breaker {
    border-bottom: 1px solid rgba(#979797, 0.2);
    padding-bottom: 18px;
    .col {
        &-content {
            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
            }
        }
        &-btn {
            flex: 1 1 130px;
            max-width: 130px;
            text-align: right;
        }
    }
    h2 {
        font-size: 36px;
        line-height: 1;
        letter-spacing: -0.5px;
        &.color-yellow {
            color: #f7b500;
        }
        @include media-breakpoint-up(lg) {
            margin-right: 26px;
            line-height: 0.67;
        }
    }
    .subtitle {
        opacity: 0.5;
        font-size: 12px;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: -0.19px;
        color: #c5d2e3;
    }
}
