.btn {
	border-radius: 5px;
	border: solid 1px #0a84ff;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.33;
	text-align: center;
	color: #0a84ff;
	padding: 7px 13px;
	transition: background-color .2s linear;
	display: inline-flex;
	&:hover {
		background-color: #0a84ff;
		color: #fff;
	}
	&.large {
		padding: 7px 37px;
	}
	&.filled {
		background-color: #0a84ff;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.4px;
		color: #ffffff;
		&:hover {
			background-color: #0a7bf5;
		}
	}
	&.x-large {
		font-size: 14px;
		font-weight: normal;
		line-height: 1.57;
		letter-spacing: -0.22px;
		padding: 7px 71px;
	}
	&.huge {
		font-size: 16px;
		line-height: 1;
		letter-spacing: -0.4px;
		padding: 13px 45px;
	}
}
