.home-slider {
    position: relative;
    .swiper-container {
        width: 100%;
        padding-top: 42px;
        padding-bottom: 42px;
        margin-bottom: 27px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 770px;
        height: 391px;
        transition: opacity 0.2s linear;
    }

    .slide {
        &-title {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            text-align: center;
            color: #c5d2e3;
            z-index: 2;
            padding: 0 30px;
            opacity: 0;
            transform: translateY(15px);
            font-size: 20px;
        }
    }

    .slide-inner {
        opacity: 0.2;
        transition: opacity 0.2s linear;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        img {
            display: block;
        }
        .shadow-iner {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 182px;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.81) 100%);
        }
    }

    .swiper-slide-active {
        .slide-inner {
            opacity: 1;
        }
        .slide-title {
            animation: displayTitle 0.2s linear forwards;
            animation-delay: 0.3s;
        }
        .shadow-bottom {
            content: '';
            display: block;
            position: absolute;
            bottom: -25px;
            left: 0;
            right: 0;
            height: 8px;
            border-radius: 17.5px;
            -webkit-filter: blur(4px);
            filter: blur(4px);
            background-image: linear-gradient(
                to right,
                rgba(28, 28, 30, 0),
                rgba(0, 0, 0, 0.5) 37%,
                rgba(0, 0, 0, 0.25) 72%,
                rgba(28, 28, 30, 0)
            );
        }
    }

    .nav-btn {
        &-container {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
            .container {
                height: 100%;
            }
        }
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
        border-radius: 5px;
        border: solid 1px #c5d2e3;
        display: flex;
        color: #c5d2e3;
        align-items: center;
        justify-content: center;
        width: 69px;
        height: 30px;
        &.btn-next {
            left: auto;
            right: 0;
        }
    }
    .swiper-container-horizontal {
        & > .swiper-pagination-bullets {
            bottom: 60px;
            .swiper-pagination-bullet {
                opacity: 0.3;
                transition: opacity 0.2s linear;
                background-color: #fff;
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes displayTitle {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
